<ion-content padding>

  <ion-row text-center>
    <ion-col style="padding-top: 20%">
      <h2 class="activity-title">margo</h2>
    </ion-col>
  </ion-row>

  <div class="adjustment">
    <img src="../../../assets/img/large_copy.png" alt="">
    <img src="../../../assets/img/{{ sendImg }}" alt="" class="image-two">
    <img src="../../../assets/img/mark-2.jpg" alt="" class="image-one">
  </div>

  <ion-row text-center>
    <ion-col>
      <ion-label>
        <h1 class="activity-title-two">Enviando...</h1>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-progress-bar type="indeterminate" color="success"></ion-progress-bar>

</ion-content>

