.adjustment {
  padding-top: 20%;
  padding-bottom: 20%;
  position: relative;
  display: inline-block;
}

.activity-title {
  font-family: All Round Gothic;
  font-size: 24px;
  color: dodgerblue;
  text-align: center;
  display:inline
}

.activity-title-two {
  font-family: All Round Gothic;
  font-size: 24px;
  color: forestgreen;
  text-align: center;
  display:inline
}

.image-one {
  border-radius: 50%;
  width: 128px;
  max-width: 128px;
  height: 128px;
  max-height: 128px;
  position: absolute;
  top: calc(60%);
  left: calc(65%);
  bottom: calc(10%);
  right: calc(10%);
}

.image-two {
  border-radius: 50%;
  width: 128px;
  max-width: 128px;
  height: 128px;
  max-height: 128px;
  position: absolute;
  top: calc(20%);
  left: calc(5%);
  bottom: calc(10%);
  right: calc(10%);

}
