page-account {
  img {
    max-width: 30%;
  }

  .white-icon {
    color: white;
  }

  .account-title {
    font-family: All Round Gothic;
    font-size: 24px;
    color: white;
    text-align: center;
  }

  .avatar {
    position: relative;
    border-radius: 50%;
    width: 128px;
    max-width: 128px;
    height: 128px;
    max-height: 128px;
  }

  .item-border {
    border-bottom: 1px solid grey !important;
  }

  .dark-text {
    font-family: DIN Next LT Pro Medium;
    color: black;
  }

  .outline-button {
    --color: #7f7f7f;
    --border-color: #7f7f7f;
  }

  .center-icon {
    display: block;
    margin: auto;
    padding: 10px;
    width: 15%
  }

  .bold-text {
    font-family: DIN Next LT Pro Bold;
    font-size: 10pt;
    color: black;
    margin: 0;
  }

  .bar-style {
    --background: linear-gradient(270deg, rgba(13, 167, 255, 1) 0%, rgba(30, 241, 249, 1) 90%);
    --progress-background: grey;
  }

  .card-color {
    --background: white;
  }
}

.ios {
  page-account {
    .bar-style {
      --background: linear-gradient(270deg, rgba(13, 167, 255, 1) 0%, rgba(30, 241, 249, 1) 90%);
      --progress-background: grey;
    }

    .card-color {
      --background: white;
    }

    .account-toolbar {
      --background: transparent;
      --ion-color-base: transparent !important;
    }

    .account-color {
       --background: linear-gradient(0deg, rgba(13, 167, 255, 1) 0%, rgba(30, 241, 249, 1) 90%);
    }

  }
}
