<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar text-center>
    <ion-title>
      <h2 class="activity-title">margo</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col text-center size="6">
        <ion-card (click)="purchaseOne()">
          <ion-card-header>
            <p><h2 class="activity-title">margo</h2>
            <p><h2 class="pro-title">one</h2>
          </ion-card-header>
          <ion-card-content>
            <img src="../../../assets/img/upgrade.png" alt="" class="avatar">
            <p>9.99</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <h4 padding-top="10%">Ofrece:</h4>
        <p>
          -algo <br>
          -otro <br>
          -ultimno <br>
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center size="6">
        <ion-card (click)="purchasePlus()">
          <ion-card-header>
            <p><h2 class="activity-title">margo</h2>
            <p><h2 class="pro-title">plus</h2>
          </ion-card-header>
          <ion-card-content>
            <img src="../../../assets/img/upgrade-plus.png" alt="" class="avatar">
            <p>19.99</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <h4 padding-top="10%">Ofrece:</h4>
        <p>
          -algo <br>
          -otro <br>
          -ultimno <br>
        </p>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-row padding>
    <ion-col text-center>
      <h4 text-left>TÉRMINOS</h4>
      <p text-justify class="activity-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </ion-col>
  </ion-row>

</ion-content>
