img {
  max-width: 30%;
}

.white-icon {
  color: white;
}

.account-toolbar {
  z-index: -1;
}

.account-title {
  font-family: All Round Gothic;
  font-size: 20px;
  color: white;
  text-align: center;
}

.chip-position {
  position: relative;
  --background: white;
  z-index: 1;
}

.avatar {
  width: 40%;
  margin: auto;
  padding-top: 20%;
  padding-bottom: 20%;
  border-radius: 0;
}

.first-grid-padding {
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.second-grid-padding {
  padding-top: -15px;
  padding-right: 5px;
  padding-left: 5px;
}

.activity-title {
  font-family: All Round Gothic;
  font-size: 24px;
  color: black;
  text-align: center;
  display:inline
}

.pro-title {
  font-family: All Round Gothic;
  font-size: 24px;
  color: #0DA7FF;
  text-align: center;
  display:inline
}

.activity-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.restaurar-button {
  color: #04A4F9;
  display: inline;
}

.price-field {
  font-size: 14px;
  display: inline;
}
