<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.conferenceapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wallet</name>
    <description>App developed for a digital wallet</description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">gabrieltorreswm@gmail.com</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="UseSwiftLanguageVersion" value="4.0" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
    <allow-navigation href="http://192.168.100.10:8101" sessionid="b42001c1" />
    <plugin name="cordova-sqlite-storage" spec="3.2.0" />
    <plugin name="cordova-plugin-fingerprint-aio" spec="1.7.0" />
    <plugin name="cordova-plugin-screen-orientation" spec="3.0.1" />
    <engine name="android" spec="7.1.4" />
    <engine name="ios" spec="4.5.5" />
    <engine name="browser" spec="5.0.4" />
</widget>
