.avatar {
    width: 35%;
  }

.title {
    font-size: 22px;
    white-space: nowrap !important;
    display: inline-block !important;
}

.subtitle {
    font-size: 14px;
    color: white;
    // white-space: nowrap !important;
    // display: inline-block !important;
}