.large-placeholder {
  font-family: DIN Next LT Pro Medium !important;
  font-size: 46px !important;
  color: black !important;
  text-align: left;
}

.medium-placeholder {
  font-family: DIN Next LT Pro Medium !important;
  font-size: 19px !important;
  color: black !important;
  text-align: left;
}


.avatar {
  border-radius: 50%;
  width: 15%;
}

.keyboard-style {
  color: white;
  font-size: 200%;
}
