<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary" text-center>
    <ion-title>
      <h2>
        Balance
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <img src="../../../assets/img/icons/wallet.png" alt="" class="img-size">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="padding-bottom: 10%">
          <ion-label text-center><h1 style="font-size: 300%"><strong>$ 500.00</strong></h1></ion-label><ion-icon color="medium" name="add-circle-outline" (click)="goAddBalance()"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="balance-title">margo</h2><h2 class="pro-title">pro</h2>
      </ion-col>
      <ion-col text-end>
        Gratis
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Expira</h4>
      </ion-col>
      <ion-col text-end>
        <h4>12-Oct-2019</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row style="padding-top: 10%">
    <ion-col>
      <ion-button  expand="full" shape="round" color="tertiary" (click)="goAddBalance()">Añadir Balance</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button  expand="full" shape="round" fill="outline" color="tertiary" (click)="goDeposit()">Depositar Balance</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
