.balance-title {
  font-family: All Round Gothic;
  font-size: 24px;
  color: black;
  text-align: center;
  display:inline
}

.pro-title {
  font-family: All Round Gothic;
  font-size: 24px;
  color: #0DA7FF;
  text-align: center;
  display:inline
}
