<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-row class="row-padding">
      <ion-col>
          <h2 class="title">Notificaciones</h2>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>

  <ion-list class="description">
    <ion-item *ngFor="let notification of notifications" (click)="onClick(notification)" [ngStyle]="{'color': notification.isClicked ? '#a9a9a9': '#000' }">
      <ion-avatar slot="start">
        <img src="../../../assets/img/mark-2.jpg" alt="avatar">
      </ion-avatar>
      <ion-label (click)="openNotification(notification)">
        <h2><strong>{{ notification.type }} </strong></h2>
        <h3> {{ notification.amount }}</h3>
        <h3>Recibido de: <strong> {{ notification.name }} </strong></h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
