<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-row class="row-padding">
      <ion-col>
          <h2 class="title">Notificaciones</h2>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list class="description">
    <ion-item *ngFor="let notification of notifications" (click)="openNotification()">
      <ion-avatar slot="start">
        <img src="../../../assets/img/icons/mark.png" alt="">
      </ion-avatar>
      <ion-label>
        <h2><strong>{{notification.type}} </strong></h2>
        <h3> {{notification.amount}}</h3>
        <p>Recibido de: <strong> {{notification.description}} </strong></p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
