
.title {
    font-family: DIN Next LT Pro Medium;
    font-size: 28pt;
    color: white;
    margin: 0px;
}

.row-padding {
    padding: 0px 16px 0px 16px;
}


.avatar {
    width: 25%;
    float: left;
  }

.description {
  padding-top: 0;
  padding-bottom: 0;
}

