.row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    background: #FF4700; 
    color: white;
    padding: 0px;
    margin: 0px;
}