<ion-header>
  </ion-header>
 
 <ion-content >
   <ion-grid style="height: 100%">
     <ion-row justify-content-center align-items-center style="height: 100%" >
       <ion-col  align-self-center no-padding size="12" text-center>
         <ion-card  color="tertiary" text-center>
           <ion-card-header>
               <ion-icon name="refresh-circle" size="large" ></ion-icon>
           </ion-card-header>
           <ion-card-content>
              <strong>¿NO está de acuerdo</strong> con los términos y condiciones?
               <!-- <a [routerLink]="['/payment-successful']" style="text-decoration: none !important">Yes, send it!</a> -->
           </ion-card-content>
         </ion-card>
         <ion-button (click)="goSuccessful()" style="text-transform: none !important;" fill="clear">¡Así es! NO estoy de acuerdo</ion-button>
       </ion-col>
     </ion-row>
   </ion-grid>
 </ion-content>
 