.card-img {
  width: 25%;
  margin: auto;
}

.balance-title {
  font-size: 200%;
  color: black;
}

.balance-amount {
  font-size: 200%;
  color: darkolivegreen;
  float: right;
}

.activity-title {
  font-family: All Round Gothic;
  font-size: 24px;
  color: black;
  text-align: center;
  display:inline
}

.select-account {
  padding-bottom: 10%;
  text-align: center;
}

.amount-shown {
  padding: 5%;
  float: right;
  font-size: 20px;
  color: green;
}
