page-tutorial {
  ion-toolbar {
    // TODO test transparent and fullscreen
    --background: transparent;
    --border-color: transparent;
  }
  
  .swiper-slide {
    display: block;
  }

  .slide-title {
    margin-top: 49px;
  }

  .last-slide {
    font-size: 20px;
  }

  .description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  //b {
  //  font-weight: 500;
  //}

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;

    //b {
    //  color: #000000;
    //}
    
  }

  ion-slides {
    height: 100%;
  }
}
