.user-title {
    font-family: DIN Next LT Pro Bold;
    font-size: 42pt;
    color: white;
    padding-left: 16px;
    margin-bottom: 0;
}

.description {
    opacity: 0.5;
    font-size: 14px;
}

.margo-title {
  font-family: All Round Gothic;
  font-size: 150%;
  color: black;
  text-align: center;
  display:inline
}

.imgSize {
  width: 128px;
  height : 128px;
  max-width: 128px;
  max-height: 128px;
  margin: auto;
}
