.user-title {
    font-family: DIN Next LT Pro Bold;
    font-size: 42pt;
    color: white;
    padding-left: 16px;
    margin-bottom: 0;
}

.user-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 20px 0px 0px 0px;
}

.description {
    opacity: 0.5;
    font-size: 14px;
}

.margo-title {
    font-family: All Round Gothic;
    font-size: 24px;
    color: black;
    text-align: center;
    display:inline
  }