<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <h2 class="user-title">{{ titlePage }}</h2>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-avatar class="imgSize">
          <img src="../../../assets/img/{{ user.image }}" alt="">
        </ion-avatar>
        <p>{{ user.name}}</p>
        <p class="description"><ion-icon style="font-size: 12px" name="contact"></ion-icon>  {{ user.username }} | <ion-icon name="keypad" style="font-size: 12px" ></ion-icon>  {{ user.type }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row padding>
    <ion-col text-center>
      <h2 class="margo-title">margo</h2>
    </ion-col>
  </ion-row>

  <ion-row justify-content-center>
    <ion-col text-center>
        <ion-button shape="round" fill="solid" color="secondary" style="text-transform: none;" (click)="setToTransfer()">
          <p style="padding: 0px 35px 0px 35px;">Transferir</p>
        </ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col text-center>
      <ion-button shape="round" fill="outline" color="secondary" style="text-transform: none;">
        Añadir a mi billetera
      </ion-button>
    </ion-col>
  </ion-row>




</ion-content>
