<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary" text-center>
    <ion-title>
      <h2>
        Cuentas Bancarias
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let bank of banks">
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable>
          Borrar
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/img/icons/{{ bank.img }}.jpg" alt="avatar">
        </ion-avatar>
        <ion-label>
          <h2><strong>{{ bank.bankName }} </strong></h2>
          <h3> {{ bank.accountType }}</h3>
          <h3>Numero de cuenta: <strong> {{ getAccountNumber(bank.accountNumber) }} </strong></h3>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-toolbar class="toolbar" color="lightCustom">
    <ion-row>
      <ion-col>
        <ion-button  expand="full" shape="round" fill="outline" color="tertiary" (click)="addBank()">Añadir Cuenta Bancaria</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p></p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
