<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary" text-center>
    <ion-title>
      <h2>
        Cuentas Bancarias
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-card *ngFor="let bank of banks">
      <ion-item lines="none">
        <img src="../../../assets/img/icons/{{ bank.img }}.jpg" class="bank-img" alt="" padding>
        <ion-label>{{ bank.bankName}}</ion-label>
        <ion-icon (click)="onTrash()" slot="end" name="trash"></ion-icon>
      </ion-item>

      <ion-card-content text-center>
        {{ bank.accountType }}
        {{ getAccountNumber(bank.accountNumber) }}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-toolbar class="toolbar" color="lightCustom">
    <ion-row>
      <ion-col>
        <ion-button  expand="full" shape="round" fill="outline" color="tertiary" (click)="addBank()">Añadir Cuenta Bancaria</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p></p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
