<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary" text-center>
    <ion-title>
      <h2>
        Añadir Cuenta
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row text-center padding>
      <ion-col>
        <img src="../../../assets/img/icons/institution.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <ion-label (click)="openBankPicker()">{{ bankValue }}<ion-icon name="arrow-dropdown"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
    <ion-row text-center padding>
      <ion-col>
        <img src="../../../assets/img/icons/savings.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <ion-label (click)="openAccountTypePicker()">{{ accountTypeValue }}<ion-icon style="height: 12px" name="arrow-dropdown"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
