<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="col-margins" text-center>
        <img src="../../../assets/img/icons/succesful.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-center>
            <h1>Transaccion Completada!</h1>
            <p class="dark-text">Tu pedido a sido procesado exitosamente</p>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col-margins" text-center>
        <ion-button expand="block" shape="round" color="secondary" (click)="backToHome()">
          Regresar a Home
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
