<!-- <ion-header>
  <ion-toolbar>
    <ion-title>payment-successful</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="col-margins" text-center>
        <img src="assets/img/correct.svg" alt="" width=25%>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-center>
            <h1>Payment successful</h1>
            <p class="dark-text">There are many variations of passages of lorem ipsum dolor sit amen, but the majority have</p>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col-margins" text-center>
        <ion-button expand="block" shape="round" color="secondary" (click)="backToHome()">
          Back to Home
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
