<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%" >
      <ion-col  align-self-center no-padding size="12" text-center>
        <ion-card  color="secondary" text-center>
          <ion-card-header>
              <ion-icon name="alert" class="large-icon" ></ion-icon>
          </ion-card-header>
          <ion-card-content >
              Estas seguro que deseas transferir/enviar <br> ${{ amount }} USD a {{ name }}?
          </ion-card-content>
        </ion-card>
        <ion-button fill="clear" (click)="goSuccessful()">Sí, envialo!</ion-button>
        <ion-row justify-content-center align-items-center>
          <ion-button fill="clear" (click)="goCancel()">Cancelar</ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
