<ion-header no-border>
    <ion-toolbar class="light-toolbar">
      <ion-buttons slot="start">
        <ion-back-button color="dark" text="" defaultHref="account"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-row>
        <ion-col class="padding">
          <h1>Settings</h1>
        </ion-col>
      </ion-row>  
    <ion-list>
      <ion-list-header>
          ACCOUNT
      </ion-list-header>
      <ion-item>Log in other account</ion-item>
      <ion-item>Create other account</ion-item>
      <ion-item>Change PIN</ion-item>
      <ion-item>Password</ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        GENERAL
      </ion-list-header>
      <ion-item>Language</ion-item>
    </ion-list>
      <ion-list>
      <ion-list-header>
        SUPPORT
      </ion-list-header>
      <ion-item>Subscribe to Margo Premium</ion-item>
      <ion-item>Restore subscription</ion-item>
    </ion-list>
</ion-content>
