<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Search input -->
  <ion-toolbar color="tertiary">
    <ion-input class="search-input" type="text" placeholder="Buscar" padding clearInput></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col padding>
      <p style="opacity: 0.5;">Usuarios Margo</p>
    </ion-col>
  </ion-row>

  <ion-list no-padding>
    <ion-item (click)=addUser(user) *ngFor="let user of users">
      <ion-avatar slot="start">
        <img src="../../../assets/img/{{ user.image }}" alt="" class="avatar">
      </ion-avatar>
      <ion-label>
        <h3 style="margin: 0;">{{ user.name }}</h3>
        <p style="font-size: 14px; margin: 0; vertical-align: middle;"><ion-icon name="radio-button-on" size="default"></ion-icon> {{ user.username }}</p>
        <p style="font-size: 14px; margin: 0; vertical-align: middle;"><ion-icon name="pin"></ion-icon>{{ user.location}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
