.search-input {
    font-family: DIN Next LT Pro Bold;
    font-size: 42pt;
    color: white;
}

.avatar {
  border-radius: 50%;
  width: 32px;
  max-width: 32px;
  height: 32px;
  max-height: 32px;
}
