<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Search input -->
  <ion-toolbar color="tertiary">
    <ion-input class="search-input" type="text" placeholder="Buscar" padding clearInput></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col padding>
      <p style="opacity: 0.5;">Usuarios Margo</p>
    </ion-col>
  </ion-row>

  <ion-item (click)=addUser()>
    <ion-avatar slot="start">
      <img src="../../../assets/img/mark-2.jpg" alt="">
    </ion-avatar>
    <ion-label>
      <h3 style="margin: 0;">Mark Codd Christopherson</h3>
      <p style="font-size: 14px; margin: 0; vertical-align: middle;"><ion-icon name="radio-button-on" size="default"></ion-icon>marky2186</p>
      <p style="font-size: 14px; margin: 0; vertical-align: middle;"><ion-icon name="pin"></ion-icon>United States</p>
    </ion-label>
  </ion-item>

</ion-content>
