
.map-card {
    --background: linear-gradient(180deg, rgba(13, 167, 255, 1) 0%, rgba(30, 241, 249, 1) 90%);
    --color: white;
    margin: 30px;
    text-align: center;
  }
  
  // .map-card-background {
  //   background-image: url("assets/img/card1.png");
  //   opacity: 0.2;
  // }
  
  .map-card-text {
    margin: 30px;
  }
  
  .map-card-img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 40px;
  }

  .address-card {
    --background: linear-gradient(180deg, rgba(58, 93, 251, 1) 0%, rgba(159, 32, 254, 0.55) 90%);
    --color: white;
    margin: 30px;
    text-align: center;
  }
  
  // .address-card-background {
  //   background-image: url("assets/img/card1.png");
  //   opacity: 0.1;
  // }
  
  .address-card-text {
    margin: 30px;
  }
  
  .address-card-img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 40px;
  }