<ion-content padding>
    <h2 text-center margin-vertical class="slide-title light-logo" style="color:black;opacity: 0.4;">margo</h2>
    <h6 text-center margin-vertical class="slide-title">{{pagetitle}}</h6>
    <p text-center margin-vertical class="slide-title">{{pageSubtitle}}</p>
    <div text-center large margin-vertical>
       <ion-icon [name]="pin.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="pin.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="pin.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="pin.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> 
    </div>
  
    <div>
      <ion-grid text-center>
        <ion-row >
          <ion-col>
            <ion-button color="light" round large outline (click)="handleInput('1')" ><h1>1</h1></ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" round large outline (click)="handleInput('2')"><h1>2</h1></ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" round large outline (click)="handleInput('3')"><h1>3</h1></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="light" round large outline (click)="handleInput('4')"><h1>4</h1></ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" round large outline (click)="handleInput('5')"><h1>5</h1></ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" round large outline (click)="handleInput('6')"><h1>6</h1></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="light" round large outline (click)="handleInput('7')"><h1>7</h1></ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" round large outline (click)="handleInput('8')"><h1>8</h1></ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" round large outline (click)="handleInput('9')"><h1>9</h1></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
  
          </ion-col>
          <ion-col>
            <ion-button ion-button round large outline (click)="handleInput('0')"><h1>0</h1></ion-button>
          </ion-col>
          <ion-col>
  
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <ion-button ion-button clear large no-padding (click)="handleInput('clear')">Clear</ion-button>
          </ion-col>
          <ion-col>
  
          </ion-col>
          <ion-col>
            <ion-button ion-button clear large (click)="emitEvent()">OK</ion-button>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </div>
  </ion-content>