.set-password-title {
    font-family: DIN Next LT Pro Medium;
    font-size: 24pt;
    color: black;

  }

  .set-password-subtitle {
    font-family: DIN Next LT Pro Medium;
    font-size: 20pt;
    color: #0DA7FF;
    //margin: 10px 0px 0px 0px;
  }

  .set-password-input {
    font-family: DIN Next LT Pro Medium;
    font-size: 16pt;
    color: black;
  }

  .eye {
    position: absolute; 
    right: 20px; 
    padding: 25px 0px 5px 0px;
  }

  .description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }
