<ion-header no-border>
    <ion-toolbar class="light-toolbar">
      <ion-buttons slot="start">
        <!-- <ion-menu-button></ion-menu-button> -->
        <ion-back-button color="dark" text="" defaultHref="signup"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen=true>
    <ion-row padding>
      <ion-col>
        <h1>Hi Selena!</h1>
        <h1 class="dark-text">Set a password</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </ion-col>
    </ion-row>


    <ion-row justify-content-left>
        <img src="assets/img/key.svg" class="avatar-size">
    </ion-row>

    <form #setPassword="ngForm" novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="stacked" color="primary">Username</ion-label>
            <ion-input [(ngModel)]="setpassword.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="username.valid || submitted == false" padding-left>
              Username is required
            </p>
          </ion-text>

          <ion-item>
            <ion-label position="stacked" color="primary">Enter password</ion-label>
            <ion-input [(ngModel)]="setpassword.password" name="password" type="password" #password="ngModel" required>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="password.valid || submitted == false" padding-left>
              Password is required
            </p>
          </ion-text>

          <ion-item>
              <ion-label position="stacked" color="primary">Re-enter your password</ion-label>
              <ion-input [(ngModel)]="setpassword.password2" name="password" type="password" #password="ngModel" required>
              </ion-input>
            </ion-item>
            <ion-text color="danger">
              <p [hidden]="password.valid || submitted == false" padding-left>
                Password verification is required
              </p>
            </ion-text>

        </ion-list>

        <ion-row justify-content-center responsive-sm>
          <!-- TODO: Delete onSignup() method? -->
          <ion-col no-padding>
            <br>
            <ion-button no-margin type="submit" expand="full" no-padding (click)="onSetPassword(setPassword)">Set password</ion-button><br>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col text-center>
              <small>I have an account. <a [routerLink]="['/login']" style="text-decoration: none !important"><b>Let's sign in!</b></a></small>
          </ion-col>
        </ion-row>

        <ion-row responsive-sm>
            <!-- TODO: Delete onSignup() method? -->
            <ion-col align-self-center>

            </ion-col>
        </ion-row>

      </form>

</ion-content>
