page-login {
  .login-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }

  .login-logo img {
    max-width: 150px;
  }

  .list {
    margin-bottom: 0;
  }
  .ion-color-lightCustom {
    --ion-color-base: #fff;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #fff;
    --ion-color-tint: #fff;
  }

  .sign-in-title {
    font-family: DIN Next LT Pro Medium;
    font-size: 24pt;
    color: black;
    margin: 0px;
  }

  p #subtitle {
    color: rgba(0, 0, 0, 0.75) !important;
    font-size: 16px !important;
  }

  p #forgot {
    font-size: 13px !important;
  }

  .toolbar {
    --padding-start: 0px;
    --padding-end: 0px;
  }

  .login-input {
    font-family: DIN Next LT Pro Medium;
    font-size: 16pt;
    color: black;
  }
}
