<ion-app>
  <ion-split-pane>

    <ion-menu>
      <ion-content>
      <ion-row>
          <ion-col padding>
            <h2>MENU</h2>
          </ion-col>
        </ion-row>
        <ion-list>
          <ion-list-header>
              ACCOUNT
          </ion-list-header>
          <ion-item (click)="goBankAccount()">Cuentas Bancarias</ion-item>
          <ion-item (click)="goEditProfile()" >Edit Profile</ion-item>
          <ion-item (click)="goLogin()" >Logout</ion-item>
          <ion-item (click)="goCreateAccount()" >Create other account</ion-item>
        </ion-list>
          <ion-list>
          <ion-list-header>
            SUPPORT
          </ion-list-header>
          <ion-item (click)="goSubscribe()" >Subscribe to Margo Premium</ion-item>
        </ion-list>
      </ion-content>
      <ion-footer padding no-border>
        <ion-label float-end>margo v 1.0</ion-label>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>
