<ion-app>
  <ion-split-pane>

    <ion-menu style="--background: gray">
      <ion-content style="--background: gray">
        <ion-row>
          <ion-col padding>
            <h2 style="color: white"><strong>MENU</strong></h2>
          </ion-col>
        </ion-row>
        <ion-list style="background: gray">
          <ion-list-header style="color: white">
              <strong>ACCOUNT</strong>
          </ion-list-header>
          <ion-item style="--background: gray; color: white" (click)="goBankAccount()">Cuentas Bancarias</ion-item>
          <ion-item style="--background: gray; color: white" (click)="goEditProfile()" >Edit Profile</ion-item>
          <ion-item style="--background: gray; color: white" (click)="goLogin()" >Logout</ion-item>
          <ion-item style="--background: gray; color: white" (click)="goCreateAccount()" >Create other account</ion-item>
        </ion-list>
        <ion-list style="background: gray; color: white">
          <ion-list-header style="color: white">
            <strong>SUPPORT</strong>
          </ion-list-header>
          <ion-item style="--background: gray; color: white" (click)="goSubscribe()" >Subscribe to Margo</ion-item>
        </ion-list>
      </ion-content>
      <ion-footer padding no-border>
        <ion-label style="color: lightcyan" float-end>margo v 1.0</ion-label>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>
