<ion-header>
  <ion-toolbar>
    <ion-title>SET THE PIN AT YOUR HOME LOCATION</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>    
  <div id="map_canvas">
      <br>
      <ion-buttons slot="start">
          <ion-back-button color="dark" text="" defaultHref="address-main"></ion-back-button>
        </ion-buttons>
    <ion-input class="address-input" type="text" name="location" expand="block" placeholder="Let's get your home address"></ion-input>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button type="submit" expand="full" fill="clear">Set Address</ion-button>
  </ion-toolbar>
</ion-footer>