<ion-header no-border>
    <ion-toolbar class="light-toolbar">
    <ion-title color='dark'>Activate Margo</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="dark" text="" defaultHref="account"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  
    <ion-grid>
        <ion-row class="first-grid-padding" justify-content-center>
          <ion-col text-center size="6">
              <ion-card>
                <ion-card-content>
                    <ion-icon name="refresh-circle" size="large" class="img-custom"></ion-icon>
                    <p>1st option</p>
                  </ion-card-content>
                </ion-card>
          </ion-col>
    
          <ion-col text-center size="6">
              <ion-card>
                  <ion-card-content>
                      <ion-icon name="refresh-circle" size="large" class="img-custom"></ion-icon>
                      <p>2nd option</p>
                    </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
    
        <ion-row class="second-grid-padding" justify-content-center>
          <ion-col size="6">
            <ion-card>
              <ion-item lines="none">
                  <ion-icon name="refresh-circle" slot="start" size="large"></ion-icon>
                  <ion-label>$4.99 USD</ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col size="6">
              <ion-card >
                <ion-item lines="none">
                    <ion-icon name="refresh-circle" slot="start" size="large"></ion-icon>
                    <ion-label>$4.99 USD</ion-label>
                </ion-item>
              </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col text-center>
        <h4 text-left>TERMS</h4>
        <p text-justify>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            <p>Already purchased? Restore</p>
          </ion-col>
    </ion-row>
</ion-content>
