<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button color="light" text="" defaultHref="/account"></ion-back-button>
      </ion-buttons>
  
      <ion-title>
        <p style="color: white; font-size: 13px;">PAGAR</p>
      </ion-title>
    </ion-toolbar>
  
    <ion-toolbar color="tertiary">
        <ion-row>
            <ion-col text-center>
              <p style="color: white; font-size: 13px;">DISPONIBLE:&nbsp;<strong>$17,000 USD</strong></p>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center >
          <ion-col text-center>
              <!-- You might also use <ion-avatar> -->
              <img src="https://www.gravatar.com/avatar?d=mm&s=140" class="avatar" alt="avatar">
              <h2>Starbucks</h2>
              <p>****1732</p> 
          </ion-col>
        </ion-row>
    </ion-toolbar>
  
  </ion-header>

<ion-content>
    <form #makePayment="ngForm" novalidate>
    <ion-list>
        <ion-row>
            <ion-col no-padding>
              <ion-item lines="full">
                <ion-label position="stacked"><strong>Monto a Pagar</strong></ion-label>
                <ion-input required placeholder="$550,25" class="large-placeholder">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col no-padding size="4">
              <ion-item lines="full" class="input-border">
                  <ion-label class="label-color" position="stacked">Monto</ion-label>
                  <ion-input required placeholder="$550,25" class="placeholder"></ion-input>
              </ion-item>
          </ion-col>
          
          <ion-col no-padding size="4" >
              <ion-item lines="full" class="input-border">
                  <ion-label class="label-color" position="stacked">Cargo</ion-label>
                  <ion-input required placeholder="$00,00" class="placeholder"></ion-input>
              </ion-item>
          </ion-col>

          <ion-col no-padding size="4">
              <ion-item lines="full" class="last-input-border">
                  <ion-label class="label-color" position="stacked">Total</ion-label>
                  <ion-input required placeholder="$550,25" class="placeholder"></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
  
      <ion-row>
        <ion-col no-padding>
          <ion-item lines="full">
            <ion-label position="stacked" class="label-color-bottom"><strong>Referencia (opcional)</strong></ion-label>
            <ion-input required class="placeholder-bottom" placeholder="Postre con mi esposa">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col no-padding>
          <ion-item lines="none">
            <ion-label position="stacked" class="label-color-bottom"><strong>Ingresa tu PIN transaccional</strong></ion-label>
            <ion-input required class="placeholder-bottom" type="password" placeholder="****">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar color="tertiary" style="--pading-bottom: 0px;">
        <ion-button style="text-transform: none;" fill="clear" type="submit" expand="full" size="large"(click)="openModal()">Pagar a&nbsp;<strong>"Starbucks"</strong></ion-button>
    </ion-toolbar>
</ion-footer>


