.avatar {
  display: block;
  margin: auto;
  width: 64px;
  max-width: 64px;
  padding-bottom: 20px;
}

.continue {
  font-family: DIN Next LT Pro Medium;
  font-size: 16px;
  color: white;
  white-space: nowrap;
}

.absolute-center {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon {
  display: block;
  margin: auto;
  width: 64px;
}

.transfer-title {
  color: black;
  font-size: 13px;
  text-align: center;
}
