<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      <p class="transfer-title">TRANSFERIR</p>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <p style="text-align: center; color: black; font-size: 13px;">DISPONIBLE <strong>${{ balance }} USD</strong></p>
      <ion-grid>

        <!-- TODO:This should be a component -->
        <app-user-detail *ngIf="currentUser"></app-user-detail>

        <ion-row padding *ngIf="!currentUser">
          <ion-col text-center>
            <img src="../../../assets/img/icons/group-avatar.png" class="avatar" alt="avatar">
            <strong style="font-size: 18px; margin: 0px; color: black;">¿A quien deseas transferir/pagar?</strong>
            <p style="color: black; padding: 0px;">Puedes buscar y/o añadir a tu billetera</p>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-card style="--background: #cccccc; padding: 10px; float: left">
          <ion-card-content no-padding (click)=goSearch()>
            <img src="../../../assets/img/icons/search.png" alt="" class="icon">
          </ion-card-content>
        </ion-card>

        <ion-card style="padding: 10px; float: left">
          <ion-card-content no-padding>
            <img src="../../../assets/img/icons/plus.png" alt="" class="icon">
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content color="secondary" padding>
  <ion-row class="absolute-center">
    <ion-col>
      <ion-label class="continue" style="opacity: 0.5;" *ngIf="!currentUser">CONTINUAR</ion-label>
      <ion-label class="continue" style="opacity: 1.0;" *ngIf="currentUser" (click)="transferMoney()">CONTINUAR</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
