<ion-header>
  <ion-toolbar style="--background: white !important;" text-center>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <p style="color: black; font-size: 13px; text-align: center">TRANSFERIR</p>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar style="--background: white !important;">
    <p style="text-align: center; color: black; font-size: 13px;">DISPONIBLE <strong>$17,000 USD</strong></p>
      <ion-grid>

        <!-- TODO:This should be a component -->
        <app-user-detail *ngIf="currentUser"></app-user-detail>

        <ion-row padding *ngIf="!currentUser">
          <ion-col text-center>
          <!-- You might also use <ion-avatar> -->
            <img src="../../../assets/img/icons/group-avatar.png" class="avatar" alt="avatar">
            <strong style="font-size: 18px; margin: 0px; color: black;">¿A quien deseas transferir/pagar?</strong>
            <p style="color: black; padding: 0px;">Puedes buscar y/o añadir a tu billetera</p>
          </ion-col>
      </ion-row>

      <ion-row>

          <ion-card style="--background: #cccccc; padding: 10px; float: left">
            <ion-card-content no-padding (click)=goSearch()>
              <img src="../../../assets/img/icons/search.png" alt="" class="icon">
            </ion-card-content>
          </ion-card>



          <ion-card style="padding: 10px; float: left">
            <ion-card-content no-padding>
              <img src="../../../assets/img/icons/plus.png" alt="" class="icon">
            </ion-card-content>
          </ion-card>


      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content class="transfer-content">
  <ion-grid>
    <ion-row class="continue-row">
      <ion-col text-center>
        <p class="continue" style="opacity: 0.5;" *ngIf="!currentUser">CONTINUAR</p>
        <p class="continue" style="opacity: 1.0;" *ngIf="currentUser" (click)="transferMoney()">CONTINUAR</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
