<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <ion-menu-button></ion-menu-button> -->
        <ion-back-button color="dark" text="" (click)="onBack()"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-row padding>
    <ion-col class="set-pin-title">
      <h1>Configura tu PIN</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="description">
      Crea tu PIN de inicio de sesion.
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center padding>
      <img src="../../../assets/img/shield.svg" alt="" width="15%">
    </ion-col>
  </ion-row>

  <form novalidate>
    <ion-grid>
      <ion-row  justify-content-center padding>
        <ion-col size="3">
          <ion-item>
            <ion-input
            #d1
            name="d1"
            [(ngModel)]="setpin.digit1"
            class="digit-input"
            type="number"
            maxlength=1
            pattern="[0-9]*"
            required=true
            autofocus=true
            text-center
            (ionChange)="jumpInput(d2)">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-input
            #d2
            name="d2"
            [(ngModel)]="setpin.digit2"
            class="digit-input"
            type="number"
            maxlength=1
            pattern="[0-9]*"
            required=true
            text-center
            (ionChange)="jumpInput(d3)">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-input
            #d3
            name="d3"
            [(ngModel)]="setpin.digit3"
            class="digit-input"
            type="number"
            maxlength=1
            pattern="[0-9]*"
            required=true
            text-center
            (ionChange)="jumpInput(d4)">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item>
            <ion-input
            #d4
            name="d4"
            [(ngModel)]="setpin.digit4"
            class="digit-input"
            type="number"
            maxlength=1
            pattern="[0-9]*"
            required=true
            text-center
            (ionChange)="jumpInput(d4)">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
