<ion-header>
  </ion-header>
 
 <ion-content (mouseup)=onMouseUp()>
   <ion-grid style="height: 100%">
     <ion-row align-items-center style="height: 100%" >
       <ion-col  align-self-center no-padding size="12">
         <ion-card  color="white">
           <ion-card-content>

              <ion-row>
                  <ion-col size-xs="6">
                    <img src="/assets/img/circle.png" class="avatar" alt="avatar">
                    <p class="card-title">Cash In</p>
                  </ion-col>
    
                  <ion-col size-xs="6">
                    <p class="card-subtitle">+$50.00 USD</p>
                  </ion-col>
                </ion-row>
                <ion-item>
                <ion-row>
                    <ion-col>
                      <p class="description">You have received money from <strong>Jacob E. Miller</strong> successful.</p>
                    </ion-col>
                </ion-row>
                </ion-item>

                <ion-item>
                  <ion-row>
                    <ion-col style="position: absolute;">
                      <strong style="font-size: 14px;">Date & Time</strong>
                      <p style="font-size: 12px; opacity: 0.5;">6:18 AM, 15-DEC-2018</p>
                    </ion-col>

                    <ion-col style="position: relative; left: 170px;">
                        <strong style="font-size: 14px;">Transaction ID</strong>
                        <p style="font-size: 12px; opacity: 0.5;">5E37DETHR8</p>
                    </ion-col>
                  </ion-row>
                </ion-item>

                <ion-item lines="none">
                    <ion-row>
                      <ion-col style="position: absolute;">
                        <strong style="font-size: 14px;">Received Money</strong>
                        <p style="font-size: 12px; opacity: 0.5;">$1,000.00 USD</p>
                      </ion-col>
  
                      <ion-col style="position: relative; left: 170px;">
                          <strong style="font-size: 14px;">Total Amount</strong>
                          <p style="font-size: 12px; opacity: 0.5;">$500 USD</p>
                      </ion-col>
                    </ion-row>
                  </ion-item>

           </ion-card-content>
         </ion-card>
         
         <!-- <ion-button (click)="goSuccessful()" style="text-transform: none !important;" fill="clear">¡Así es! NO estoy de acuerdo</ion-button> -->
       </ion-col>
     </ion-row>
   </ion-grid>
 </ion-content>
 