<ion-row justify-content-center align-items-center style='height: 100%' (mouseup)=onMouseUp()>
  <ion-col>
    <ion-card  color="white">
      <ion-card-content class="my-card-content">

        <ion-item lines="none">
          <ion-row>
            <ion-col size-xs="6">
              <img src="../../../assets/img/mark-2.jpg" class="avatar" alt="avatar">
              <p class="card-title">Cash In</p>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item lines="none">
          <ion-col style="position: absolute;">
            <strong style="font-size: 14px;">Recibido de</strong>
            <p style="font-size: 12px; opacity: 0.5;">Jacob E. Miller</p>
          </ion-col>

          <ion-col style="position: relative; left: 170px;">
            <strong style="font-size: 14px;">Monto Total</strong>
            <p style="font-size: 12px; opacity: 0.5;">$500 USD</p>
          </ion-col>
        </ion-item>

        <ion-item>
          <ion-col style="position: absolute;">
            <strong style="font-size: 14px;">Fecha & Hora</strong>
            <p style="font-size: 12px; opacity: 0.5;">6:18 AM, 15-DEC-2018</p>
          </ion-col>

          <ion-col style="position: relative; left: 170px;">
            <strong style="font-size: 14px;">Transacción ID</strong>
            <p style="font-size: 12px; opacity: 0.5;">5E37DETHR8</p>
          </ion-col>
        </ion-item>

      </ion-card-content>
    </ion-card>

  </ion-col>
</ion-row>
